.arrowPoint:before {
  right: -2.7px;
  bottom: -3.9px;
  transform: rotate(-45deg); }

.arrowPoint:after {
  right: -2.7px;
  bottom: 3.9px;
  transform: rotate(45deg); }

.arrowTxtWht {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 16rem;
  letter-spacing: 2px;
  color: var(--color-text-white); }

.arrowWht {
  cursor: pointer;
  width: 4.2rem;
  height: .12rem;
  margin-left: 1.8rem;
  position: relative;
  background: #ffffff; }

.arrowWht:before,
.arrowWht:after {
  content: "";
  position: absolute;
  height: .12rem;
  width: 12px;
  background: #fff; }

.arrowTxtWht:hover {
  text-decoration-line: underline;
  text-decoration-color: #ffffff; }

.arrowTxtBlk {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 16rem;
  letter-spacing: 2px;
  color: var(--color-text-black); }

.arrowBlk {
  cursor: pointer;
  width: 4.2rem;
  height: .12rem;
  margin-left: 1.8rem;
  position: relative;
  background: #000000; }

.arrowBlk:before,
.arrowBlk:after {
  content: "";
  position: absolute;
  height: .12rem;
  width: 12px;
  background: #000000; }

.arrowTxtBlk:hover {
  text-decoration-line: underline;
  text-decoration-color: #000000; }

.arrowBigGap {
  cursor: pointer;
  width: 4.2rem;
  height: .12rem;
  margin-left: 1.8rem;
  position: relative;
  margin-left: auto;
  background: #ffffff; }

.arrowBigGap:before,
.arrowBigGap:after {
  content: "";
  position: absolute;
  height: .12rem;
  width: 12px;
  background: #fff; }

.lineBreakFaded {
  height: 1px;
  width: 31rem;
  background: #ffffff;
  opacity: .25;
  margin-top: 1.6rem; }

.lineBreakBlk {
  height: 1px;
  width: 31rem;
  background: #000000;
  margin: 2.35rem 0 2.35rem 0; }

.lineBreakGrey {
  height: 1px;
  width: 31rem;
  background: #DFDFDF;
  margin: 2.35rem 0 2.35rem 0; }

.rainbowRectangleSml {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  width: 14rem;
  margin-left: 2.9rem; }

.rainbowRectangleFull {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  width: 100%; }

.checkMark {
  display: block;
  height: 12px;
  width: 16px; }

.toggleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  height: 100%; }
  .toggleWrapper__buttonBackground {
    display: flex;
    align-items: center;
    width: 6.4rem;
    height: 3.4rem;
    border-radius: 1.6rem;
    background: var(--color-background-grey); }
  .toggleWrapper__button {
    cursor: pointer;
    display: block;
    margin-left: .5rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: var(--color-text-btnblack); }

.pickPlanBtnBlk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24.5rem;
  height: 4rem;
  background: var(--color-background-btnblack); }

.pickPlanBtnWht {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24.5rem;
  height: 4rem;
  background: var(--color-background-btnwhite); }

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .logoContainer__logo {
    display: block;
    height: 1.6rem;
    width: 1.9rem;
    margin-right: 8px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin: 7.2rem 2.4rem 7.2rem 3.3rem; }

.contentWrapperSml {
  display: flex;
  flex-direction: column;
  margin: 23.6rem 6.2rem 4rem 3.3rem; }

.contentWrapperSVG {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 3.2rem 5.6rem 3.3rem; }

.rowSml {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: 1.6rem;
  margin: 2.3rem 0 0 0; }

:root {
  --color-background-white: #FFFFFF;
  --color-background-black: #000000;
  --color-background-grey: #F5F5F5;
  --color-text-white: #FFFFFF;
  --color-text-black: #000000;
  --color-text-main-yellow:#FFDC00;
  --color-text-footer-white: #FDFDFD;
  --color-background-btnblack: #000000;
  --color-background-btnwhite: #FFFFFF;
  --color-text-btnwhite: #FFFFFF;
  --color-text-btnblack: #000000; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll; }

#clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.pricePlanAmountBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-black); }

.pricePlanAmountWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingXLargeBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.75rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-black); }

.headingXLargeWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.25rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingLargeWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.25rem;
  line-height: 4rem;
  letter-spacing: 3.33px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingPriceBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--color-text-black); }

.headingPriceWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--color-text-white); }

.headingBrand {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.25rem;
  line-height: 4.8rem;
  font-weight: 700;
  font-style: bold; }

.headingMedium {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingMediumBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 700;
  color: var(--color-text-black); }

.svgHeading {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 700;
  color: var(--color-text-black);
  margin-top: 4.8rem;
  margin-bottom: 1.6rem; }

.headingSmall {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-text-white); }

.headingSmallFaded {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-text-white);
  margin: 2.4rem 0.9rem 2.4rem 0;
  opacity: 0.75; }

.headingSmallBold {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15.5px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-text-white);
  margin-bottom: 1.6rem; }

.headingFeaturesLrg {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15.5px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-text-black); }

.headingFeaturesSml {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 13px;
  font-weight: 700;
  letter-spacing: 1.67px;
  color: var(--color-text-black);
  opacity: 50%;
  margin-bottom: .8rem; }

.summaryCenter {
  width: 31rem;
  text-align: center; }

.summaryWhite {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 1.6rem;
  color: var(--color-text-white); }

.summaryBlack {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 1.6rem;
  color: var(--color-text-black); }

.pricePerMonthTxtBlk {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  color: var(--color-text-black); }

.pricePerMonthTxtWht {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  color: var(--color-text-white); }

.copywriteTxt {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 19.5px;
  color: var(--color-text-white);
  opacity: .5; }

.pickPlanBtnTxtWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15px;
  letter-spacing: 2px;
  color: var(--color-text-btnwhite); }

.pickPlanBtnTxtBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15px;
  letter-spacing: 2px;
  color: var(--color-text-btnblack); }

.footerContainer {
  grid-row: 13 / 14;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.storiesFooterContainer {
  grid-row: 20 / 21;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.featuresFooterContainer {
  grid-row: 6 / 7;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.pricingFooterContainer {
  grid-row: 10 / 11;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerWrapperBig {
  margin-bottom: 9.6rem; }

.footerCntr {
  justify-content: center;
  margin: 5.6rem 0 3.2rem 0;
  color: #ffffff; }

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 15.4rem;
  margin: 0 auto 6.4rem auto; }
  .iconContainer__icon {
    cursor: pointer;
    display: block;
    height: 20;
    width: 20; }

.footerLinksContainer__txt {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 15px;
  letter-spacing: 2px;
  margin-top: 1.6rem;
  color: #ffffff; }

.headerContainer {
  background: var(--color-background-white);
  color: var(--color-text-black);
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  display: flex; }

.headerCntr {
  margin-left: 2.4rem;
  color: #000000; }

.featuresContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(30rem, auto) minmax(183rem, auto) minmax(28.8rem, auto) minmax(54rem, auto);
  grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.featuresSvgRowContainer {
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }

.featuresBetaContainer {
  position: relative;
  grid-row: 5 / 6;
  background-image: url(../../assets/shared/mobile/bg-beta.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.indexContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(42rem, auto) minmax(27.1rem, auto) minmax(42rem, auto) minmax(27rem, auto) minmax(42rem, auto) repeat(4, minmax(37.5rem, auto)) minmax(96rem, auto) minmax(54rem, auto);
  grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.topImgContainer {
  grid-row: 2 / 3;
  grid-column: full-start / full-end; }
  .topImgContainer__topImgTablet {
    display: none; }
  .topImgContainer__topImgMobile {
    display: block;
    height: 100%;
    width: 100%; }

.topTxtContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  background: var(--color-background-black); }

.imgContainerBeautiful {
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }
  .imgContainerBeautiful__beautifulImgTablet {
    display: none; }
  .imgContainerBeautiful__beautifulImgMobile {
    display: block;
    height: 100%;
    width: 100%; }

.imgContainerDesigned {
  grid-row: 6 / 7;
  grid-column: full-start / full-end; }
  .imgContainerDesigned__designedImgTablet {
    display: none; }
  .imgContainerDesigned__designedImgMobile {
    display: block;
    height: 100%;
    width: 100%; }

.viewStorieOneContainer {
  grid-row: 5 / 6;
  grid-column: full-start / full-end; }

.viewStorieTwoContainer {
  grid-row: 7 / 8;
  grid-column: full-start / full-end; }

.mountainsContainer {
  grid-row: 8 / 9;
  background-image: url(../../assets/stories/mobile/mountains.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.cityScapeContainer {
  grid-row: 9 / 10;
  background-image: url(../../assets/stories/mobile/cityscapes.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.daysVoyageContainer {
  grid-row: 10 / 11;
  background-image: url(../../assets/stories/mobile/18-days-voyage.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.architecturalsContainer {
  grid-row: 11 / 12;
  background-image: url(../../assets/stories/mobile/architecturals.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.indexSvgRowContainer {
  grid-row: 12 / 13;
  grid-column: full-start / full-end; }

.pricingContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(30rem, auto) minmax(13.6rem, auto) repeat(3, minmax(40.7rem, auto)) minmax(95rem, auto) minmax(28.8rem, auto) minmax(54rem, auto);
  grid-template-columns: [full-start] auto 2.85rem [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] 2.85rem auto [full-end]; }

.toggleContainer {
  grid-row: 4 / 5;
  grid-column: center-start / center-end; }

.basicPricePlanContainer {
  grid-row: 5 / 6;
  grid-column: center-start / center-end;
  margin-bottom: 2.4rem;
  background-color: var(--color-background-grey); }

.proPricePlanContainer {
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
  position: relative;
  background-color: var(--color-background-black); }

.businessPricePlanContainer {
  grid-row: 7 / 8;
  grid-column: center-start / center-end;
  margin: 2.4rem 0 0 0;
  background-color: var(--color-background-grey); }

.pricePlanWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem; }

.headingPriceWrapper {
  display: block;
  margin: 5.6rem 0rem .2rem 0rem; }

.priceAmountWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0rem 4rem 0rem; }

.theFeaturesContainer {
  grid-row: 8 / 9;
  grid-column: center-start / center-end;
  margin-top: 6.4rem; }

.featuresWrapperLrg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 1.6rem 0 2.4rem 0; }

.featuresWrapperSml {
  display: flex;
  flex-direction: column;
  width: 33%; }

.pricingBetaContainer {
  position: relative;
  grid-row: 9 / 10;
  background-image: url(../../assets/shared/mobile/bg-beta.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesContainer {
  display: grid;
  background: var(--color-background-black);
  grid-template-rows: 10vh minmax(auto, 31.7rem) minmax(49.5rem, auto) repeat(16, minmax(37.5rem, auto)) minmax(54rem, auto);
  grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.dateAuthorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem; }

.storiesMountainsContainer {
  grid-row: 4 / 5;
  background-image: url(../../assets/stories/mobile/mountains.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesCityScapeContainer {
  grid-row: 5 / 6;
  background-image: url(../../assets/stories/mobile/cityscapes.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesDaysVoyageContainer {
  grid-row: 6 / 7;
  background-image: url(../../assets/stories/mobile/18-days-voyage.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesArchitecturalsContainer {
  grid-row: 7 / 8;
  background-image: url(../../assets/stories/mobile/architecturals.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesWorldTourContainer {
  grid-row: 8 / 9;
  background-image: url(../../assets/stories/mobile/world-tour.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesUnforseenContainer {
  grid-row: 9 / 10;
  background-image: url(../../assets/stories/mobile/unforeseen-corners.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesKingAfricaContainer {
  grid-row: 10 / 11;
  background-image: url(../../assets/stories/mobile/king-on-africa.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesTripNowhereContainer {
  grid-row: 11 / 12;
  background-image: url(../../assets/stories/mobile/trip-to-nowhere.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesRageSeaContainer {
  grid-row: 12 / 13;
  background-image: url(../../assets/stories/mobile/rage-of-the-sea.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesRunningFreeContainer {
  grid-row: 13 / 14;
  background-image: url(../../assets/stories/mobile/running-free.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesBehindWavesContainer {
  grid-row: 14 / 15;
  background-image: url(../../assets/stories/mobile/behind-the-waves.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesCalmWatersContainer {
  grid-row: 15 / 16;
  background-image: url(../../assets/stories/mobile/calm-waters.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesMilkyWayContainer {
  grid-row: 16 / 17;
  background-image: url(../../assets/stories/mobile/milky-way.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesDarkForestContainer {
  grid-row: 17 / 18;
  background-image: url(../../assets/stories/mobile/dark-forest.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesSomwarpetsContainer {
  grid-row: 18 / 19;
  background-image: url(../../assets/stories/mobile/somwarpet.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesLandOfContainer {
  grid-row: 19 / 20;
  background-image: url(../../assets/stories/mobile/land-of-dreams.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media screen and (min-width: 768px) {
  .indexContainer {
    grid-template-rows: 10vh minmax(65rem, auto) repeat(2, minmax(60rem, auto)) repeat(2, minmax(50rem, auto)) minmax(101.5rem, auto) minmax(28.4rem, auto);
    grid-template-columns: [full-start] minmax(27.3rem, auto) repeat(8, [col-start] minmax(min-content, 5rem) [col-end]) minmax(27.3rem, auto) [full-end]; }

  .headingXLargeWht {
    font-size: 4rem; }

  .headingXLargeBlk {
    font-size: 4rem; }

  .arrowTxtWht {
    line-height: 0; }

  .summaryWhite {
    margin-bottom: 2.4rem; }

  .summaryBlack {
    margin-bottom: 2.4rem; }

  .rowSml {
    margin: 2rem 0 0 0; }

  .contentWrapperSml {
    margin: 100% 6.2rem 4rem 3.3rem; }

  .rainbowRectangleSml {
    display: block;
    position: absolute;
    top: 315px;
    left: 0;
    height: 6px;
    width: 304px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    transform: rotate(90deg) translateY(175px); }

  .topImgContainer {
    grid-column: 10 / full-end; }
    .topImgContainer__topImgMobile {
      display: none; }
    .topImgContainer__topImgTablet {
      display: block;
      height: 100%;
      width: 100%; }

  .topTxtContainer {
    grid-row: 2 / 3;
    grid-column: full-start / 10; }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    margin: 17.3rem 5.4rem 17.3rem 5.4rem; }

  .imgContainerBeautiful {
    grid-row: 3 / 4;
    grid-column: full-start / col-start; }
    .imgContainerBeautiful__beautifulImgTablet {
      display: block;
      height: 100%;
      width: 100%; }
    .imgContainerBeautiful__beautifulImgMobile {
      display: none; }

  .viewStorieOneContainer {
    grid-row: 3 / 4;
    grid-column: col-start / full-end; }

  .imgContainerDesigned {
    grid-row: 4 / 5;
    grid-column: 10 / full-end; }
    .imgContainerDesigned__designedImgTablet {
      display: block;
      height: 100%;
      width: 100%; }
    .imgContainerDesigned__designedImgMobile {
      display: none; }

  .viewStorieTwoContainer {
    grid-row: 4 / 5;
    grid-column: full-start / 10; }

  .mountainsContainer {
    grid-row: 5 / 6;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/mobile/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .cityScapeContainer {
    grid-row: 5 / 6;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/mobile/cityscapes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .daysVoyageContainer {
    grid-row: 6 / 7;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/mobile/18-days-voyage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .architecturalsContainer {
    grid-row: 6 / 7;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/mobile/architecturals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .indexSvgRowContainer {
    grid-row: 7 / 8;
    grid-column: full-start / full-end; }

  .footerContainer {
    grid-row: 8 / 9;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .footerWrapperSml {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%; }

  .footerWrapperBig {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-left: 3.9rem;
    margin: 0 0 6.4rem 3.9rem; }

  .iconContainer {
    order: 3;
    margin: 7.2rem 0 0 0; }

  ul.summaryCenter {
    display: flex;
    flex-direction: row;
    width: 100%; }

  .footerLinksContainer__txt {
    margin-right: 2.6rem;
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
