.arrowPoint:before {
  right: -2.7px;
  bottom: -3.9px;
  transform: rotate(-45deg); }

.arrowPoint:after {
  right: -2.7px;
  bottom: 3.9px;
  transform: rotate(45deg); }

.arrowTxtWht {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 16rem;
  letter-spacing: 2px;
  color: var(--color-text-white); }

.arrowWht {
  cursor: pointer;
  width: 4.2rem;
  height: .12rem;
  margin-left: 1.8rem;
  position: relative;
  background: #ffffff; }

.arrowWht:before,
.arrowWht:after {
  content: "";
  position: absolute;
  height: .12rem;
  width: 12px;
  background: #fff; }

.arrowTxtWht:hover {
  text-decoration-line: underline;
  text-decoration-color: #ffffff; }

.arrowTxtBlk {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 16rem;
  letter-spacing: 2px;
  color: var(--color-text-black); }

.arrowBlk {
  cursor: pointer;
  width: 4.2rem;
  height: .12rem;
  margin-left: 1.8rem;
  position: relative;
  background: #000000; }

.arrowBlk:before,
.arrowBlk:after {
  content: "";
  position: absolute;
  height: .12rem;
  width: 12px;
  background: #000000; }

.arrowTxtBlk:hover {
  text-decoration-line: underline;
  text-decoration-color: #000000; }

.arrowBigGap {
  cursor: pointer;
  width: 4.2rem;
  height: .12rem;
  margin-left: 1.8rem;
  position: relative;
  margin-left: auto;
  background: #ffffff; }

.arrowBigGap:before,
.arrowBigGap:after {
  content: "";
  position: absolute;
  height: .12rem;
  width: 12px;
  background: #fff; }

.navInviteBtn {
  display: block;
  width: 80%;
  height: 4.8rem;
  background: var(--color-background-btnblack); }

.navInviteBtn:hover {
  background-color: #DFDFDF; }

.pickPlanBtnBlk {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24.5rem;
  height: 4rem;
  background: var(--color-background-btnblack); }

.pickPlanBtnWht {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24.5rem;
  height: 4rem;
  background: var(--color-background-btnwhite); }

.toggleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  height: 100%; }
  .toggleWrapper__buttonBackground {
    display: flex;
    align-items: center;
    width: 6.4rem;
    height: 3.4rem;
    border-radius: 1.6rem;
    background: var(--color-background-grey); }
  .toggleWrapper__button {
    cursor: pointer;
    display: block;
    margin-left: .5rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: var(--color-text-btnblack); }
  .toggleWrapper__buttonBackgroundYearly {
    background: var(--color-text-btnblack);
    display: flex;
    align-items: center;
    width: 6.4rem;
    height: 3.4rem;
    border-radius: 1.6rem; }
  .toggleWrapper__buttonYearly {
    transform: translateX(100%);
    background: var(--color-background-grey);
    cursor: pointer;
    display: block;
    margin-left: .85rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%; }

.mountainsContainer:hover,
.cityScapeContainer:hover,
.daysVoyageContainer:hover,
.architecturalsContainer:hover,
.storiesMountainsContainer:hover,
.storiesCityScapeContainer:hover,
.storiesDaysVoyageContainer:hover,
.storiesArchitecturalsContainer:hover,
.storiesWorldTourContainer:hover,
.storiesUnforseenContainer:hover,
.storiesKingAfricaContainer:hover,
.storiesTripNowhereContainer:hover,
.storiesRageSeaContainer:hover,
.storiesRunningFreeContainer:hover,
.storiesBehindWavesContainer:hover,
.storiesCalmWatersContainer:hover,
.storiesMilkyWayContainer:hover,
.storiesDarkForestContainer:hover,
.storiesSomwarpetsContainer:hover,
.storiesLandOfContainer:hover {
  transform: translateY(-25px);
  transition: ease-in-out .40s; }

.lineBreakNavMenu {
  display: block;
  height: 1px;
  width: 80%;
  margin: 2rem auto;
  background: #000000;
  opacity: .25;
  z-index: -100; }

.lineBreakFaded {
  height: 1px;
  background: #ffffff;
  opacity: .25;
  margin-top: 1.6rem; }

.lineBreakBlk {
  height: 1px;
  background: #000000;
  margin: 2.35rem 0 2.35rem 0; }

.lineBreakGrey {
  height: 1px;
  background: #DFDFDF;
  margin: 2.35rem 0 2.35rem 0; }

.rainbowRectangleSml {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  width: 14rem;
  margin-left: 2.9rem; }

.rainbowRectangleFull {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  width: 100%; }

.checkMark {
  display: block;
  height: 12px;
  width: 16px; }

a.facebook:hover {
  background-color: black !important; }

img.iconContainer__icon.facebook:hover {
  background-color: black !important; }

.iconContainer__icon:hover {
  background-color: black !important; }

.iconContainer a:hover {
  background-color: black !important; }

.footerLinksContainer__txt:hover {
  opacity: 0.3; }

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .logoContainer__logo {
    display: block;
    height: 1.6rem;
    width: 1.9rem;
    margin-right: 8px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin: 7.2rem 2.4rem 7.2rem 3.3rem; }

.contentWrapperSml {
  display: flex;
  flex-direction: column;
  margin: 23.6rem 6.2rem 4rem 3.3rem; }

.contentWrapperSVG {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 3.2rem 5.6rem 3.3rem; }

.rowSml {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: 1.6rem;
  margin: 2.3rem 0 0 0; }

:root {
  --color-background-white: #FFFFFF;
  --color-background-black: #000000;
  --color-background-grey: #F5F5F5;
  --color-text-white: #FFFFFF;
  --color-text-black: #000000;
  --color-text-main-yellow:#FFDC00;
  --color-text-footer-white: #FDFDFD;
  --color-background-btnblack: #000000;
  --color-background-btnwhite: #FFFFFF;
  --color-text-btnwhite: #FFFFFF;
  --color-text-btnblack: #000000; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll; }

#clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.pricePlanAmountBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-black); }

.pricePlanAmountWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingXLargeBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.75rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-black); }

.headingXLargeWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.25rem;
  line-height: 4.8rem;
  letter-spacing: 4.17px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingLargeWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.25rem;
  line-height: 4rem;
  letter-spacing: 3.33px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingPriceBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--color-text-black); }

.headingPriceWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--color-text-white); }

.headingBrand {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.25rem;
  line-height: 4.8rem;
  font-weight: 700;
  font-style: bold; }

.headingMedium {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 700;
  color: var(--color-text-white); }

.headingMediumBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 700;
  color: var(--color-text-black); }

.svgHeading {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 25px;
  font-weight: 700;
  color: var(--color-text-black);
  margin-top: 4.8rem;
  margin-bottom: 1.6rem; }

.headingSmall {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-text-white); }

.headingSmallFaded {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-text-white);
  margin: 2.4rem 0.9rem 2.4rem 0;
  opacity: 0.75; }

.headingSmallBold {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15.5px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-text-white);
  margin-bottom: 1.6rem; }

.headingFeaturesLrg {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15.5px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--color-text-black); }

.headingFeaturesSml {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 13px;
  font-weight: 700;
  letter-spacing: 1.67px;
  color: var(--color-text-black);
  opacity: 50%;
  margin-bottom: .8rem; }

.compareHeadingFeatures {
  font-family: 'DM Sans', sans-serif;
  font-size: 4rem;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 4.17px;
  color: var(--color-text-black);
  margin-bottom: .8rem;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto 6.5rem auto;
  grid-row: 1 / 2;
  grid-column: full-start / full-end; }

.navListTxt {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 19.53px;
  letter-spacing: 2.5px;
  color: var(--color-text-black); }

.navlistTxt:hover,
.navlistTxt:focus,
.navListTxt:active {
  cursor: pointer;
  opacity: .25; }

.navBtnTxt {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 19.53px;
  letter-spacing: 2.5px;
  color: var(--color-text-white); }

.navBtnTxt:hover {
  color: var(--color-text-black); }

.pickPlanBtnTxtWht {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15px;
  letter-spacing: 2px;
  color: var(--color-text-btnwhite); }

.pickPlanBtnTxtBlk {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 15px;
  letter-spacing: 2px;
  color: var(--color-text-btnblack); }

.summaryCenter {
  width: 31rem;
  text-align: center; }

.summaryWhite {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 1.6rem;
  color: var(--color-text-white); }

.summaryBlack {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  margin-top: 1.6rem;
  color: var(--color-text-black); }

.pricePerMonthTxtBlk {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  color: var(--color-text-black); }

.pricePerMonthTxtWht {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.6;
  color: var(--color-text-white); }

.footerLinksContainer__txt {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 15px;
  letter-spacing: 2px;
  margin-top: 1.6rem;
  color: var(--color-text-white); }

.copywriteTxt {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 19.5px;
  color: var(--color-text-white);
  opacity: .5; }

.footerContainer {
  grid-row: 13 / 14;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.storiesFooterContainer {
  grid-row: 20 / 21;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.featuresFooterContainer {
  grid-row: 6 / 7;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.pricingFooterContainer {
  grid-row: 10 / 11;
  grid-column: full-start / full-end;
  background: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerWrapperBig {
  margin-bottom: 9.6rem; }

.footerCntr {
  justify-content: center;
  margin: 5.6rem 0 3.2rem 0;
  color: #ffffff; }

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 15.4rem;
  margin: 0 auto 6.4rem auto; }
  .iconContainer__icon {
    cursor: pointer;
    display: block;
    height: 20;
    width: 20; }

.headerContainer {
  background: var(--color-background-white);
  color: var(--color-text-black);
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  display: flex; }

.headerCntr {
  margin-left: 2.4rem;
  color: #000000; }

.burger {
  cursor: pointer;
  background-color: transparent;
  height: .6rem;
  width: 2rem;
  margin: auto 2.4rem auto auto;
  z-index: 100; }

.burgerLine {
  background-color: black;
  height: 1px;
  margin: 2px 0;
  transition: .35s ease-in-out; }

.burger__1.open {
  transform: rotate(-140deg) translateY(-2px) translateX(-2px); }

.burger__2.open {
  transform: rotate(140deg); }

.navigation {
  display: none; }

.navigation.active {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  background: var(--color-background-white);
  text-align: center;
  z-index: 1000; }
  .navigation.active__listWrapper-navList:first-child {
    margin: 3.2rem auto 2rem; }
  .navigation.active__listWrapper-navList:nth-child(2) {
    margin: 2rem auto 2rem; }

.featuresContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(30rem, auto) minmax(183rem, auto) minmax(28.8rem, auto) minmax(54rem, auto);
  grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.featuresSvgRowContainer {
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }

.featuresBetaContainer {
  position: relative;
  grid-row: 5 / 6;
  background-image: url(../../assets/shared/mobile/bg-beta.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.indexContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(42rem, auto) minmax(27.1rem, auto) minmax(42rem, auto) minmax(27rem, auto) minmax(42rem, auto) repeat(4, minmax(37.5rem, auto)) minmax(96rem, auto) minmax(54rem, auto);
  grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.topImgContainer {
  grid-row: 2 / 3;
  grid-column: full-start / full-end; }
  .topImgContainer__topImgTablet {
    display: none; }
  .topImgContainer__topImgMobile {
    display: block;
    height: 100%;
    width: 100%; }

.topTxtContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  background: var(--color-background-black); }

.imgContainerBeautiful {
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }
  .imgContainerBeautiful__beautifulImgTablet {
    display: none; }
  .imgContainerBeautiful__beautifulImgMobile {
    display: block;
    height: 100%;
    width: 100%; }

.imgContainerDesigned {
  grid-row: 6 / 7;
  grid-column: full-start / full-end; }
  .imgContainerDesigned__designedImgTablet {
    display: none; }
  .imgContainerDesigned__designedImgMobile {
    display: block;
    height: 100%;
    width: 100%; }

.viewStorieOneContainer {
  grid-row: 5 / 6;
  grid-column: full-start / full-end; }

.viewStorieTwoContainer {
  grid-row: 7 / 8;
  grid-column: full-start / full-end; }

.mountainsContainer {
  grid-row: 8 / 9;
  background-image: url(../../assets/stories/mobile/mountains.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.cityScapeContainer {
  grid-row: 9 / 10;
  background-image: url(../../assets/stories/mobile/cityscapes.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.daysVoyageContainer {
  grid-row: 10 / 11;
  background-image: url(../../assets/stories/mobile/18-days-voyage.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.architecturalsContainer {
  grid-row: 11 / 12;
  background-image: url(../../assets/stories/mobile/architecturals.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.indexSvgRowContainer {
  grid-row: 12 / 13;
  grid-column: full-start / full-end; }

.pricingContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(30rem, auto) minmax(13.6rem, auto) repeat(3, minmax(40.7rem, auto)) minmax(95rem, auto) minmax(28.8rem, auto) minmax(54rem, auto);
  grid-template-columns: [full-start] auto 2.85rem [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] 2.85rem auto [full-end]; }

.toggleContainer {
  grid-row: 4 / 5;
  grid-column: center-start / center-end; }

.basicPricePlanContainer {
  grid-row: 5 / 6;
  grid-column: center-start / center-end;
  margin-bottom: 2.4rem;
  background-color: var(--color-background-grey); }

.proPricePlanContainer {
  grid-row: 6 / 7;
  grid-column: center-start / center-end;
  position: relative;
  background-color: var(--color-background-black); }

.businessPricePlanContainer {
  grid-row: 7 / 8;
  grid-column: center-start / center-end;
  margin: 2.4rem 0 0 0;
  background-color: var(--color-background-grey); }

.pricePlanWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem; }

.headingPriceWrapper {
  display: block;
  margin: 5.6rem 0rem .2rem 0rem; }

.priceAmountWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0rem 4rem 0rem; }

.theFeaturesContainer {
  grid-row: 8 / 9;
  grid-column: center-start / center-end;
  margin-top: 6.4rem; }

.featuresWrapperLrg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 1.6rem 0 2.4rem 0; }

.featuresWrapperSml {
  display: flex;
  flex-direction: column;
  width: 33%; }

.pricingBetaContainer {
  position: relative;
  grid-row: 9 / 10;
  background-image: url(../../assets/shared/mobile/bg-beta.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: 10vh minmax(auto, 31.7rem) minmax(49.5rem, auto) repeat(16, minmax(37.5rem, auto)) minmax(54rem, auto);
  grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.topImgContainerFull {
  grid-row: 2 / 3;
  grid-column: full-start / full-end; }
  .topImgContainerFull__topImgTablet {
    display: none; }
  .topImgContainerFull__topImgMobile {
    display: block;
    height: 100%;
    width: 100%; }
  .topImgContainerFull__topImgDesktop {
    display: none; }

.topTxtContainerFull {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  background: var(--color-background-black); }

.dateAuthorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem; }

.storiesMountainsContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 4 / 5;
  background-image: url(../../assets/stories/mobile/mountains.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesCityScapeContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 5 / 6;
  background-image: url(../../assets/stories/mobile/cityscapes.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesDaysVoyageContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 6 / 7;
  background-image: url(../../assets/stories/mobile/18-days-voyage.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesArchitecturalsContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 7 / 8;
  background-image: url(../../assets/stories/mobile/architecturals.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesWorldTourContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 8 / 9;
  background-image: url(../../assets/stories/mobile/world-tour.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesUnforseenContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 9 / 10;
  background-image: url(../../assets/stories/mobile/unforeseen-corners.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesKingAfricaContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 10 / 11;
  background-image: url(../../assets/stories/mobile/king-on-africa.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesTripNowhereContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 11 / 12;
  background-image: url(../../assets/stories/mobile/trip-to-nowhere.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesRageSeaContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 12 / 13;
  background-image: url(../../assets/stories/mobile/rage-of-the-sea.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesRunningFreeContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 13 / 14;
  background-image: url(../../assets/stories/mobile/running-free.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesBehindWavesContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 14 / 15;
  background-image: url(../../assets/stories/mobile/behind-the-waves.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesCalmWatersContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 15 / 16;
  background-image: url(../../assets/stories/mobile/calm-waters.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesMilkyWayContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 16 / 17;
  background-image: url(../../assets/stories/mobile/milky-way.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesDarkForestContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 17 / 18;
  background-image: url(../../assets/stories/mobile/dark-forest.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesSomwarpetsContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 18 / 19;
  background-image: url(../../assets/stories/mobile/somwarpet.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.storiesLandOfContainer {
  display: grid;
  align-items: flex-end;
  grid-row: 19 / 20;
  background-image: url(../../assets/stories/mobile/land-of-dreams.jpg);
  grid-column: full-start / full-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media screen and (min-width: 768px) {
  .featuresContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: 10vh minmax(49rem, auto) minmax(70.8rem, auto) minmax(28rem, auto) minmax(28.4rem, auto);
    grid-template-columns: [full-start] minmax(27.3rem, auto) repeat(8, [col-start] minmax(min-content, 5rem) [col-end]) minmax(27.3rem, auto) [full-end]; }

  .topImgContainer {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    z-index: 100; }
    .topImgContainer__topImgTablet {
      display: block;
      height: 100%;
      width: 100%; }
    .topImgContainer__topImgMobile {
      display: none; }

  .topTxtContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    background: var(--color-background-black); }

  .featuresSvgRowContainer {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

  .featuresSvgRowContainer > * {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center; }

  .featuresBetaContainer {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    background-image: url(../../assets/shared/tablet/bg-beta.jpg); } }
@media screen and (min-width: 1367px) {
  .featuresContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: 10vh minmax(auto, 49rem) minmax(28rem, auto) minmax(25rem, auto) !important;
    grid-template-columns: [full-start] repeat(28, [col-start] 1fr [col-end]) [full-end]; }

  .topImgContainer {
    grid-row: 2 / 3;
    grid-column: 5 / full-end !important;
    z-index: 100; }
    .topImgContainer__topImgTablet {
      display: none; }
    .topImgContainer__topImgMobile {
      display: none; }
    .topImgContainer__topImgDesktop {
      display: block;
      height: 100%;
      width: 100%; }

  .topTxtContainer {
    grid-column: full-start / 5 !important; }

  .featuresSvgRowContainer {
    display: grid;
    grid-template-rows: repeat(2, minmax(44.8rem, auto));
    grid-template-columns: [full-start] minmax(16.5rem, auto) repeat(3, [col-start] minmax(36rem, auto) [col-end]) minmax(16.5rem, auto) [full-end];
    align-items: flex-end; }

  .contentWrapperSVG {
    margin: auto; }

  .svgMarginDesktop {
    margin-top: 8rem; }

  .responsiveContainer {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 100%; }

  .photoUploadContainer {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 100%; }

  .embedContainer {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    width: 100%; }

  .domainContainer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    margin: 10.4rem 0 16rem 0; }

  .boostExposureContainer {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 100%;
    margin: 10.4rem 0 16rem 0; }

  .dragDropContainer {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    width: 100%;
    margin: 10.4rem 0 16rem 0; }

  .featuresBetaContainer {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    background-image: url(../../assets/shared/tablet/bg-beta.jpg); } }
@media screen and (max-width: 1366px) {
  .footerContainerDesktop {
    display: none; }

  .storiesFooterContainerDesktop {
    display: none; }

  .featuresFooterContainerDesktop {
    display: none; }

  .pricingFooterContainerDesktop {
    display: none; } }
@media screen and (min-width: 768px) {
  .footerContainer {
    grid-row: 8 / 9;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .storiesFooterContainer {
    grid-row: 10 / 11;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .featuresFooterContainer {
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .pricingFooterContainer {
    grid-row: 9 / 10;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .footerWrapperSml {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%; }

  .footerWrapperBig {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-left: 3.9rem;
    margin: 0 0 6.4rem 3.9rem; }

  .iconContainer {
    order: 3;
    margin: 7.2rem 0 0 0; }

  ul.summaryCenter {
    display: flex;
    flex-direction: row;
    width: 100%; }

  .footerLinksContainer__txt {
    margin-right: 2.6rem;
    margin-top: 0; } }
@media screen and (min-width: 1367px) {
  .footerWrapperBig {
    width: inherit;
    margin: 0 0 6.4rem 17.1rem; }

  .footerLinksContainer {
    width: 33%;
    margin: 2.5rem 0 0 10.9rem; }
    .footerLinksContainer__txt {
      margin-bottom: 2.7rem; }

  .footerCntr {
    margin: 5.6rem 0 0 0; }

  .iconContainer {
    margin: 10rem 0 0 0; }

  ul.summaryCenter {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

  .footerContainer {
    display: none; }

  .footerContainerDesktop {
    grid-row: 7 / 8;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .storiesFooterContainer {
    display: none; }

  .storiesFooterContainerDesktop {
    grid-row: 7 / 8;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .featuresFooterContainer {
    display: none; }

  .featuresFooterContainerDesktop {
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; }

  .pricingFooterContainer {
    display: none; }

  .pricingFooterContainerDesktop {
    grid-row: 7 / 8;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
    display: flex;
    flex-direction: row;
    align-items: center; } }
@media screen and (max-width: 768px) {
  .topImgContainer__topImgMobile {
    display: block;
    height: 100%;
    width: 100%; }
  .topImgContainer__topImgTablet {
    display: none; }
  .topImgContainer__topImgDesktop {
    display: none; }

  .imgContainerBeautiful__beautifulImgMobile {
    display: block;
    height: 100%;
    width: 100%; }
  .imgContainerBeautiful__beautifulImgTablet {
    display: none; }
  .imgContainerBeautiful__beautifulImgDesktop {
    display: none; }

  .imgContainerDesigned__designedImgMobile {
    display: block;
    height: 100%;
    width: 100%; }
  .imgContainerDesigned__designedImgTablet {
    display: none; }
  .imgContainerDesigned__designedImgDesktop {
    display: none; } }
@media screen and (min-width: 768px) {
  .indexContainer {
    grid-template-rows: 10vh minmax(65rem, auto) repeat(2, minmax(60rem, auto)) repeat(2, minmax(50rem, auto)) minmax(101.5rem, auto) minmax(28.4rem, auto);
    grid-template-columns: [full-start] minmax(27.3rem, auto) repeat(8, [col-start] minmax(min-content, 5rem) [col-end]) minmax(27.3rem, auto) [full-end]; }

  .headingXLargeWht {
    font-size: 4rem; }

  .headingXLargeBlk {
    font-size: 4rem; }

  .arrowTxtWht {
    line-height: 0; }

  .summaryWhite {
    margin-bottom: 2.4rem; }

  .summaryBlack {
    margin-bottom: 2.4rem; }

  .rowSml {
    margin: 2rem 0 0 0; }

  .contentWrapperSml {
    margin: 100% 6.2rem 4rem 3.3rem; }

  .rainbowRectangleSml {
    display: block;
    position: absolute;
    top: 315px;
    left: 0;
    height: 6px;
    width: 304px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    transform: rotate(90deg) translateY(175px);
    z-index: 100; }

  .topImgContainer {
    grid-column: 10 / full-end; }
    .topImgContainer__topImgMobile {
      display: none; }
    .topImgContainer__topImgTablet {
      display: block;
      height: 100%;
      width: 100%; }
    .topImgContainer__topImgDesktop {
      display: none; }

  .topTxtContainer {
    grid-row: 2 / 3;
    grid-column: full-start / 10; }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    margin: 17.3rem 5.4rem 17.3rem 5.4rem; }

  .imgContainerBeautiful {
    grid-row: 3 / 4;
    grid-column: full-start / col-start; }
    .imgContainerBeautiful__beautifulImgMobile {
      display: none; }
    .imgContainerBeautiful__beautifulImgTablet {
      display: block;
      height: 100%;
      width: 100%; }
    .imgContainerBeautiful__beautifulImgDesktop {
      display: none; }

  .viewStorieOneContainer {
    grid-row: 3 / 4;
    grid-column: col-start / full-end; }

  .imgContainerDesigned {
    grid-row: 4 / 5;
    grid-column: 10 / full-end; }
    .imgContainerDesigned__designedImgMobile {
      display: none; }
    .imgContainerDesigned__designedImgTablet {
      display: block;
      height: 100%;
      width: 100%; }
    .imgContainerDesigned__designedImgDesktop {
      display: none; }

  .viewStorieTwoContainer {
    grid-row: 4 / 5;
    grid-column: full-start / 10; }

  .mountainsContainer {
    grid-row: 5 / 6;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .cityScapeContainer {
    grid-row: 5 / 6;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/cityscapes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .daysVoyageContainer {
    grid-row: 6 / 7;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/18-days-voyage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .architecturalsContainer {
    grid-row: 6 / 7;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/architecturals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .indexSvgRowContainer {
    grid-row: 7 / 8;
    grid-column: full-start / full-end; } }
@media screen and (min-width: 1367px) {
  .indexContainer {
    grid-template-rows: 10vh minmax(auto, 65rem) repeat(2, minmax(auto, 60rem)) minmax(50rem, auto) minmax(47.6rem, auto) minmax(25rem, auto);
    grid-template-columns: [full-start] repeat(28, [col-start] 1fr [col-end]) [full-end]; }

  .headerContainer {
    grid-column: full-start / full-end;
    grid-row: 1 / 2; }

  .topImgContainer {
    grid-column: 13 / full-end !important; }
    .topImgContainer__topImgMobile {
      display: none; }
    .topImgContainer__topImgTablet {
      display: none; }
    .topImgContainer__topImgDesktop {
      display: block;
      height: 100%;
      width: 100%; }

  .topTxtContainer {
    grid-column: full-start / 13 !important; }

  .imgContainerBeautiful {
    grid-row: 3 / 4;
    grid-column: full-start / 17; }
    .imgContainerBeautiful__beautifulImgMobile {
      display: none; }
    .imgContainerBeautiful__beautifulImgTablet {
      display: none; }
    .imgContainerBeautiful__beautifulImgDesktop {
      display: block;
      height: 100%;
      width: 100%; }

  .viewStorieOneContainer {
    grid-row: 3 / 4;
    grid-column: 18 / full-end; }

  .imgContainerDesigned {
    grid-row: 4 / 5;
    grid-column: 13 / full-end; }
    .imgContainerDesigned__designedImgMobile {
      display: none; }
    .imgContainerDesigned__designedImgTablet {
      display: none; }
    .imgContainerDesigned__designedImgDesktop {
      display: block;
      height: 100%;
      width: 100%; }

  .viewStorieTwoContainer {
    grid-row: 4 / 5;
    grid-column: full-start / 13; }

  .mountainsContainer {
    grid-column: full-start / 8;
    background-image: url(../../assets/stories/desktop/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .cityScapeContainer {
    grid-column: 8 / 15;
    background-image: url(../../assets/stories/desktop/cityscapes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .daysVoyageContainer {
    grid-column: 15 / 22;
    grid-row: 5 / 6;
    background-image: url(../../assets/stories/desktop/18-days-voyage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .architecturalsContainer {
    grid-column: 22 / full-end;
    grid-row: 5 / 6;
    background-image: url(../../assets/stories/desktop/architecturals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

  .indexSvgRowContainer {
    grid-row: 6 / 7;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start; }

  .photoUploadContainer,
  .embedContainer,
  .responsiveContainer {
    max-height: 37rem; }

  .desktopMargin {
    margin-top: 8.25rem; }

  .summaryCenter {
    text-align: center !important; }

  .contentWrapper {
    margin: 17.3rem 12rem 17.3rem 11.2rem; } }
@media screen and (min-width: 768px) {
  .burger {
    display: none; }

  .lineBreakNavMenu {
    display: none; }

  .navigation {
    visibility: visible !important;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 10%; }

  .navigation__listWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }

  .navigation__listWrapper a {
    display: flex;
    width: min-content;
    align-items: center;
    margin-right: 2.5rem; }

  .navigation__listWrapper a:hover {
    opacity: .30; }

  .navInviteBtn {
    height: 4rem;
    width: 16rem;
    margin: auto 4rem auto 2.1rem; }

  .navBtnTxt {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 15.62px; } }
@media screen and (min-width: 1024px) {
  .navigation__listWrapper a {
    margin-right: 8.5rem; } }
@media screen and (min-width: 1440px) {
  .navigation {
    width: 80%; }

  .navigation__listWrapper {
    margin: auto; } }
@media screen and (max-width: 767px) {
  .theFeaturesContainerBS {
    display: none; } }
@media screen and (min-width: 768px) {
  .pricingContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: 10vh minmax(auto, 49rem) minmax(13.6rem, auto) repeat(3, minmax(27rem, auto)) minmax(95rem, auto) minmax(28.8rem, auto) minmax(28.4rem, auto);
    grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

  .toggleContainer {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    width: 50%;
    margin: 0 auto 0 auto; }

  .basicPricePlanContainer {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    margin: 0 4rem 2.4rem 3.9rem; }

  .proPricePlanContainer {
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    margin: 0 4rem 2.4rem 3.9rem; }

  .businessPricePlanContainer {
    grid-row: 6 / 7;
    grid-column: full-start / full-end;
    margin: 2.4rem 4rem 2.4rem 3.9rem; }

  .businessPricePlanContainer,
  .basicPricePlanContainer {
    position: relative; }

  .pricePlanWrapper {
    align-items: flex-start; }

  .summaryCenter {
    text-align: left; }

  .priceAmountWrapper {
    position: absolute;
    right: 0;
    margin-right: 4.8rem; }

  .headingPriceWrapper,
  .summaryWrapper,
  .pickPlanBtnBlk,
  .pickPlanBtnWht {
    margin-left: 4rem; }

  .theFeaturesContainer {
    display: none; }

  .theFeaturesContainerBS {
    grid-row: 7 / 8;
    grid-column: full-start / full-end;
    margin: 6.4rem 4rem 11.2rem 3.9rem; }

  .featuresWrapperGrid {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: 2fr [full-start] repeat(13, 1fr) [full-end] 2fr;
    grid-template-rows: repeat(17, 1fr);
    align-items: flex-end; }

  .featuresWrapperHeading {
    grid-row: 3 / 4;
    grid-column: full-start / full-end; }

  .features {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: block;
    margin: auto auto 0 2rem; }

  .basic {
    grid-column: 8 / 9; }

  .pro {
    grid-column: 11 / 12; }

  .business {
    grid-column: 14 / 16; }

  .rowThree {
    grid-column: 1 / 6;
    grid-row: 3 / 4; }

  .rowFive {
    grid-column: 1 / 6;
    grid-row: 5 / 6; }

  .rowSeven {
    grid-column: 1 / 7;
    grid-row: 7 / 8; }

  .rowNine {
    grid-column: 1 / 7;
    grid-row: 9 / 10; }

  .rowEleven {
    grid-column: 1 / 7;
    grid-row: 11 / 12; }

  .rowThirteen {
    grid-column: 1 / 7;
    grid-row: 13 / 14; }

  .rowFifteen {
    grid-column: 1 / 7;
    grid-row: 15 / 16; }

  .rowSeventeen {
    grid-column: 1 / 7;
    grid-row: 17 / 18; }

  .checkMarkOne {
    grid-column: 8 / 9;
    display: block;
    margin: auto; }

  .checkMarkTwo {
    grid-column: 11 / 12;
    display: block;
    margin: auto; }

  .checkMarkThree {
    grid-column: 14 / 15;
    display: block;
    margin: auto; }

  .bigScreen {
    display: block;
    margin: auto auto auto 2rem; }

  .lineBreakBlk {
    grid-column: 1 / -1;
    width: 100%; }

  .lineBreakGrey {
    grid-column: 1 / -1;
    width: 100%; }

  .pricingBetaContainer {
    grid-row: 8 / 9;
    background-image: url(../../assets/shared/tablet/bg-beta.jpg); } }
@media screen and (min-width: 1367px) {
  .pricingContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: 10vh minmax(auto, 49rem) minmax(13.6rem, auto) minmax(47rem, auto) minmax(65.6rem, auto) minmax(28rem, auto) minmax(25rem, auto);
    grid-template-columns: [full-start] repeat(28, [col-start] 1fr [col-end]) [full-end]; }

  .toggleContainer {
    width: 25.5rem;
    margin: 12rem auto 4.8rem auto; }

  .basicPricePlanContainer {
    grid-row: 4 / 5;
    grid-column: 4 / 11;
    margin: 3.2rem 0 0 0;
    height: 40.7rem;
    min-width: 35rem;
    max-width: 100%; }

  .proPricePlanContainer {
    grid-row: 4 / 5;
    grid-column: 11 / 19;
    margin: 0 3rem 2.4rem 3rem;
    height: 47rem;
    min-width: 35rem;
    max-width: 100%; }

  .businessPricePlanContainer {
    grid-row: 4 / 5;
    grid-column: 19 / 26;
    margin: 3.2rem 0 0 0;
    height: 40.7rem;
    min-width: 35rem;
    max-width: 100%; }

  .pricePlanWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem; }

  .priceAmountWrapper {
    position: relative;
    margin-right: 0;
    margin-top: 1rem; }

  .headingPriceWrapper,
  .summaryWrapper,
  .pickPlanBtnBlk,
  .pickPlanBtnWht {
    margin-left: 0; }

  .theFeaturesContainer {
    display: none; }

  .theFeaturesContainerBS {
    grid-row: 5 / 6;
    grid-column: 7 / 22;
    margin: 16rem 4rem 16rem 4rem;
    width: 100%; }

  .pricingBetaContainer {
    grid-row: 6 / 7;
    background-image: url(../../assets/shared/desktop/bg-beta.jpg); } }
@media screen and (min-width: 768px) {
  .storiesContainer {
    grid-template-rows: 10vh minmax(65rem, auto) repeat(7, minmax(50rem, auto)) minmax(28.4rem, auto);
    grid-template-columns: [full-start] minmax(3.9rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3.9rem, 1fr) [full-end]; }

  .topTxtContainerFull {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    grid-column: full-start / full-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/stories/tablet/moon-of-appalacia.jpg); }

  .topImgContainerFull__topImgMobile {
    display: none; }
  .topImgContainerFull__topImgTablet {
    display: block;
    height: 100%;
    width: 100%; }
  .topImgContainerFull__topImgDesktop {
    display: none; }

  .contentWrapperTablet {
    display: flex;
    flex-direction: column;
    margin: 12.2rem 34.2rem 12.2rem 3.9rem; }

  .storiesMountainsContainer {
    grid-row: 3 / 4;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/mountains.jpg); }

  .storiesCityScapeContainer {
    grid-row: 3 / 4;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/cityscapes.jpg); }

  .storiesDaysVoyageContainer {
    grid-row: 4 / 5;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/18-days-voyage.jpg); }

  .storiesArchitecturalsContainer {
    grid-row: 4 / 5;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/architecturals.jpg); }

  .storiesWorldTourContainer {
    grid-row: 5 / 6;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/world-tour.jpg); }

  .storiesUnforseenContainer {
    grid-row: 5 / 6;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/unforeseen-corners.jpg); }

  .storiesKingAfricaContainer {
    grid-row: 5 / 6;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/king-on-africa.jpg); }

  .storiesTripNowhereContainer {
    grid-row: 5 / 6;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/trip-to-nowhere.jpg); }

  .storiesRageSeaContainer {
    grid-row: 6 / 7;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/rage-of-the-sea.jpg); }

  .storiesRunningFreeContainer {
    grid-row: 6 / 7;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/running-free.jpg); }

  .storiesBehindWavesContainer {
    grid-row: 7 / 8;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/behind-the-waves.jpg); }

  .storiesCalmWatersContainer {
    grid-row: 7 / 8;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/calm-waters.jpg); }

  .storiesMilkyWayContainer {
    grid-row: 8 / 9;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/milky-way.jpg); }

  .storiesDarkForestContainer {
    grid-row: 8 / 9;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/dark-forest.jpg); }

  .storiesSomwarpetsContainer {
    grid-row: 9 / 10;
    grid-column: full-start / 6;
    background-image: url(../../assets/stories/desktop/somwarpet.jpg); }

  .storiesLandOfContainer {
    grid-row: 9 / 10;
    grid-column: 6 / full-end;
    background-image: url(../../assets/stories/desktop/land-of-dreams.jpg); } }
@media screen and (min-width: 1367px) {
  .storiesContainer {
    grid-template-rows: 10vh minmax(65rem, auto) repeat(4, minmax(50rem, auto)) minmax(25rem, auto);
    grid-template-columns: [full-start] repeat(4, [col-start] minmax(36rem, auto) [col-end]) [full-end]; }

  .topTxtContainerFull {
    grid-column: full-start / 2 !important;
    background-image: none;
    background: transparent;
    margin-left: 11.2rem; }

  .topImgContainerFull__topImgMobile {
    display: none; }
  .topImgContainerFull__topImgTablet {
    display: none; }
  .topImgContainerFull__topImgDesktop {
    display: block;
    height: 100%;
    width: 100%; }

  .contentWrapperTablet {
    display: flex;
    flex-direction: column;
    margin: 12.2rem 34.2rem 12.2rem 3.9rem; }

  .storiesMountainsContainer {
    grid-row: 3 / 4;
    grid-column: full-start / 1;
    background-image: url(../../assets/stories/desktop/mountains.jpg); }

  .storiesCityScapeContainer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-image: url(../../assets/stories/desktop/cityscapes.jpg); }

  .storiesDaysVoyageContainer {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-image: url(../../assets/stories/desktop/18-days-voyage.jpg); }

  .storiesArchitecturalsContainer {
    grid-row: 3 / 4;
    grid-column: 4 / -1;
    background-image: url(../../assets/stories/desktop/architecturals.jpg); }

  .storiesWorldTourContainer {
    grid-row: 4 / 5;
    grid-column: full-start / 1;
    background-image: url(../../assets/stories/desktop/world-tour.jpg); }

  .storiesUnforseenContainer {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    background-image: url(../../assets/stories/desktop/unforeseen-corners.jpg); }

  .storiesKingAfricaContainer {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    background-image: url(../../assets/stories/desktop/king-on-africa.jpg); }

  .storiesTripNowhereContainer {
    grid-row: 4 / 5;
    grid-column: 4 / -1;
    background-image: url(../../assets/stories/desktop/trip-to-nowhere.jpg); }

  .storiesRageSeaContainer {
    grid-row: 5 / 6;
    grid-column: full-start / 1;
    background-image: url(../../assets/stories/desktop/rage-of-the-sea.jpg); }

  .storiesRunningFreeContainer {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background-image: url(../../assets/stories/desktop/running-free.jpg); }

  .storiesBehindWavesContainer {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    background-image: url(../../assets/stories/desktop/behind-the-waves.jpg); }

  .storiesCalmWatersContainer {
    grid-row: 5 / 6;
    grid-column: 4 / -1;
    background-image: url(../../assets/stories/desktop/calm-waters.jpg); }

  .storiesMilkyWayContainer {
    grid-row: 6 / 7;
    grid-column: full-start / 1;
    background-image: url(../../assets/stories/desktop/milky-way.jpg); }

  .storiesDarkForestContainer {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    background-image: url(../../assets/stories/desktop/dark-forest.jpg); }

  .storiesSomwarpetsContainer {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    background-image: url(../../assets/stories/desktop/somwarpet.jpg); }

  .storiesLandOfContainer {
    grid-row: 6 / 7;
    grid-column: 4 / -1;
    background-image: url(../../assets/stories/desktop/land-of-dreams.jpg); } }
@media screen and (min-width: 1500px) {
  .storiesContainer {
    grid-template-columns: [full-start] repeat(4, [col-start] minmax(38rem, auto) [col-end]) [full-end]; } }
@media screen and (min-width: 1600px) {
  .storiesContainer {
    grid-template-columns: [full-start] repeat(4, [col-start] minmax(42rem, auto) [col-end]) [full-end]; } }
@media screen and (min-width: 1700px) {
  .storiesContainer {
    grid-template-columns: [full-start] repeat(4, [col-start] minmax(44rem, auto) [col-end]) [full-end]; } }
@media screen and (min-width: 1800px) {
  .storiesContainer {
    grid-template-columns: [full-start] repeat(4, [col-start] minmax(46rem, auto) [col-end]) [full-end]; } }
@media screen and (min-width: 1920px) {
  .storiesContainer {
    grid-template-columns: [full-start] repeat(4, [col-start] minmax(48rem, auto) [col-end]) [full-end]; }

  .contentWrapper {
    margin: 17.3rem 0 17.3rem 6rem; } }

/*# sourceMappingURL=style.css.map */
