//Line Break
.lineBreakFaded {
    height: 1px;
    width: 31rem;
    background: #ffffff;
    opacity: .25;
    margin-top: 1.6rem;
}

.lineBreakBlk {
    height: 1px;
    width: 31rem;
    background: #000000;
    margin: 2.35rem 0 2.35rem 0;
}

.lineBreakGrey {
    height: 1px;
    width: 31rem;
    background: #DFDFDF;
    margin: 2.35rem 0 2.35rem 0;
}
//Line Break End

//Rainbow Rectangle
.rainbowRectangleSml {
    @include rainbowRectangle();
    width: 14rem;
    margin-left: 2.9rem;
}

.rainbowRectangleFull {
    @include rainbowRectangle();
    width: 100%;
}
//Rainbow Rectangle END

//Features Section Check Mark
.checkMark {
    display: block;
    height: 12px;
    width: 16px;
}
//Features Section Check Mark END

//Pricing Toggle 
.toggleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 100%;

    &__buttonBackground {
        display: flex;
        align-items: center;
        width: 6.4rem;
        height: 3.4rem;
        border-radius: 1.6rem;
        background: var(--color-background-grey);
    }

    &__button {
        cursor: pointer;
        display: block;
        margin-left: .5rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: var(--color-text-btnblack);
    }
}
//Pricing Toggle END

//Pick Plan Button
.pickPlanBtnBlk {
    @include solidButton();
    background: var(--color-background-btnblack);
}

.pickPlanBtnWht {
    @include solidButton();
    background: var(--color-background-btnwhite);
}
//Pick Plan Button END