//START OF BUTTONS
//Mobile Nav Menu Get an Invite Button
.navInviteBtn {
    display: block;
    width: 80%;
    height: 4.8rem;
    background: var(--color-background-btnblack);
}

.navInviteBtn:hover {
    background-color: #DFDFDF;
}
//Mobile Nav Menu Get an Invite Button END

//Pick Plan Button
.pickPlanBtnBlk {
    @include solidButton();
    background: var(--color-background-btnblack);
}

.pickPlanBtnWht {
    @include solidButton();
    background: var(--color-background-btnwhite);
}
//Pick Plan Button END

//Pricing Toggle Button
.toggleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 100%;

    &__buttonBackground {
        display: flex;
        align-items: center;
        width: 6.4rem;
        height: 3.4rem;
        border-radius: 1.6rem;
        background: var(--color-background-grey);
    }

    &__button {
        cursor: pointer;
        display: block;
        margin-left: .5rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: var(--color-text-btnblack);
    }

    &__buttonBackground.yearly {
        background: var(--color-background-btnblack);
    }

    &__button.yearly {
        transform: translateX(100%);
        background: var(--color-background-grey);
        margin-left: .85rem;
    }
}
//Pricing Toggle Button END
//END OF BUTTONS

//Hover State For Storys
.mountainsContainer:hover,
.cityScapeContainer:hover,
.daysVoyageContainer:hover,
.architecturalsContainer:hover,
.storiesMountainsContainer:hover,
.storiesCityScapeContainer:hover,
.storiesDaysVoyageContainer:hover,
.storiesArchitecturalsContainer:hover,
.storiesWorldTourContainer:hover,
.storiesUnforseenContainer:hover,
.storiesKingAfricaContainer:hover,
.storiesTripNowhereContainer:hover,
.storiesRageSeaContainer:hover,
.storiesRunningFreeContainer:hover,
.storiesBehindWavesContainer:hover,
.storiesCalmWatersContainer:hover,
.storiesMilkyWayContainer:hover,
.storiesDarkForestContainer:hover,
.storiesSomwarpetsContainer:hover,
.storiesLandOfContainer:hover {
    transform: translateY(-25px)!important;
    transition: ease-in-out .40s;
}
//Hover State For Storys END

//Line Break
.lineBreakNavMenu {
    display: block;
    height: 1px;
    width: 80%;
    margin: 2rem auto;
    background: #000000;
    opacity: .25;
    z-index: -100;
}

.lineBreakFaded {
    height: 1px;
    // width: 31rem;
    background: #ffffff;
    opacity: .25;
    margin-top: 1.6rem;
}

.lineBreakBlk {
    height: 1px;
    background: #000000;
    margin: 2.35rem 0 2.35rem 0;
}

.lineBreakGrey {
    height: 1px;
    background: #DFDFDF;
    margin: 2.35rem 0 2.35rem 0;
}
//Line Break End

//Rainbow Rectangle
.rainbowRectangleIndex {
    @include rainbowRectangle();
    width: 14rem;
    margin-left: 2.9rem;
}

.rainbowRectangleSml {
    @include rainbowRectangle();
    width: 14rem;
    margin-left: 2.9rem;
}

.rainbowRectangleFull {
    @include rainbowRectangle();
    width: 100%;
}

.betaRainbowRectangle {
    @include rainbowRectangle();
    width: 14rem;
    margin-left: 3.5rem;
}

//Features Section Check Mark
.checkMark {
    display: block;
    height: 12px;
    width: 16px;
}
//Features Section Check Mark END

//Footer Social Media Icons
.iconContainer__icon:hover {
    transform: scale(1.25) rotate(10deg);
}

//Footer nav links
.footerLinksContainer__txt:hover {
    opacity: 0.3;
}

// Media Queries For Rectangle Component
// Tablet
@media screen and (min-width: 768px) {
    .rainbowRectangleIndex { // Home page component
        top: 45rem;
        left: -64px;
        transform: rotate(90deg) translateY(95px);
        width: 33rem;
        margin-left: 0;
    }
    
    .rainbowRectangleSml { // Sml width
        @include rainbowRectangleTablet();
    }

    .rainbowRectangleFull { // Full width
        @include rainbowRectangle();
        top: 13.5rem;
        left: -4rem;
        width: 27.75rem;
        transform: rotate(90deg) translateY(95px);
    }

    .betaRainbowRectangle { //Beta component
        @include rainbowRectangle();
        top: 20.90rem;
        left: -11.25rem;
        width: 42.25rem;
        margin-left: 0;
        transform: rotate(90deg) translateY(95px);
    }
}
// Desktop
@media screen and (min-width: 1367px) {
    .rainbowRectangleIndex {
        top: 40rem;  
    }

    .rainbowRectangleSml {
        top: 32rem;
    }

    .rainbowRectangleFull {
        @include rainbowRectangle();
        top: 0rem;
        left: 0rem;
        // width: 35.15rem;
        width: 100%;
        transform: rotate(180deg);
    }
}
// Media Queries For Rectangle Component END

//Supersize Desktop
@media screen and (min-width: 2001px) {
    .rainbowRectangleIndex {
        display: none;
    }

    .rainbowRectangleSml {
        display: none;
    }
}