//START OF BUTTONS
//Mobile Nav Menu Get an Invite Button
.navInviteBtn {
    display: block;
    width: 80%;
    height: 4.8rem;
    background: var(--color-background-btnblack);
}

.navInviteBtn:hover {
    background-color: #DFDFDF;
}
//Mobile Nav Menu Get an Invite Button END

//Pick Plan Button
.pickPlanBtnBlk {
    @include solidButton();
    background: var(--color-background-btnblack);
}

.pickPlanBtnWht {
    @include solidButton();
    background: var(--color-background-btnwhite);
}
//Pick Plan Button END

//Pricing Toggle Button
.toggleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 100%;

    &__buttonBackground {
        display: flex;
        align-items: center;
        width: 6.4rem;
        height: 3.4rem;
        border-radius: 1.6rem;
        background: var(--color-background-grey);
    }

    &__button {
        cursor: pointer;
        display: block;
        margin-left: .5rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: var(--color-text-btnblack);
    }

    &__buttonBackgroundYearly {
        background: var(--color-text-btnblack);

        display: flex;
        align-items: center;
        width: 6.4rem;
        height: 3.4rem;
        border-radius: 1.6rem;
    }

    &__buttonYearly {
        transform: translateX(100%);
        background: var(--color-background-grey);

        cursor: pointer;
        display: block;
        margin-left: .85rem;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
    }
}
//Pricing Toggle Button END
//END OF BUTTONS

//Hover State For Storys
.mountainsContainer:hover,
.cityScapeContainer:hover,
.daysVoyageContainer:hover,
.architecturalsContainer:hover,
.storiesMountainsContainer:hover,
.storiesCityScapeContainer:hover,
.storiesDaysVoyageContainer:hover,
.storiesArchitecturalsContainer:hover,
.storiesWorldTourContainer:hover,
.storiesUnforseenContainer:hover,
.storiesKingAfricaContainer:hover,
.storiesTripNowhereContainer:hover,
.storiesRageSeaContainer:hover,
.storiesRunningFreeContainer:hover,
.storiesBehindWavesContainer:hover,
.storiesCalmWatersContainer:hover,
.storiesMilkyWayContainer:hover,
.storiesDarkForestContainer:hover,
.storiesSomwarpetsContainer:hover,
.storiesLandOfContainer:hover {
    transform: translateY(-25px);
}
//Hover State For Storys END

//Line Break
.lineBreakNavMenu {
    display: block;
    height: 1px;
    width: 80%;
    margin: 2rem auto;
    background: #000000;
    opacity: .25;
    z-index: -100;
}

.lineBreakFaded {
    height: 1px;
    // width: 31rem;
    background: #ffffff;
    opacity: .25;
    margin-top: 1.6rem;
}

.lineBreakBlk {
    height: 1px;
    background: #000000;
    margin: 2.35rem 0 2.35rem 0;
}

.lineBreakGrey {
    height: 1px;
    background: #DFDFDF;
    margin: 2.35rem 0 2.35rem 0;
}
//Line Break End

//Rainbow Rectangle
.rainbowRectangleSml {
    @include rainbowRectangle();
    width: 14rem;
    margin-left: 2.9rem;
}

.rainbowRectangleFull {
    @include rainbowRectangle();
    width: 100%;
}

//Rainbow Rectangle END

//Features Section Check Mark
.checkMark {
    display: block;
    height: 12px;
    width: 16px;
}
//Features Section Check Mark END

//Footer Social Media Icons
a.facebook:hover {
    background-color: black!important;
}

img.iconContainer__icon.facebook:hover {
    background-color: black!important;
}

.iconContainer__icon:hover {
    background-color: black!important;
}

.iconContainer a:hover {
    background-color: black!important;
}
//Footer Social Media Icons

.footerLinksContainer__txt:hover {
    opacity: 0.3;
}