//Summary TXT
@mixin summaryTxt {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 1.6rem;
}

.summaryCenter {
    width: 31rem;
    text-align: center;
}

.summaryWhite {
    @include summaryTxt();
    color: var(--color-text-white);
}

.summaryBlack {
    @include summaryTxt();
    color: var(--color-text-black);
}
//Summary TXT END

//Arrow Row Container
.rowSml { //Arrow link on index page
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 1.6rem;
    margin: 2.3rem 0 0 0;
}
//Arrow Row Container END

//Arrow Mixins
@mixin arrowTxt {
    font-family: DM Sans;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 16rem;
    letter-spacing: 2px;
}

@mixin arrow {
    cursor: pointer;
    width: 4.2rem;
    height: .12rem;
    margin-left: 1.8rem;
    position: relative;
}

@mixin arrowPseudoLine {
    content: "";
    position: absolute;
    height: .12rem;
    width: 12px;
}

.arrowPoint:before {
    right: -2.7px;
    bottom: -3.9px;
    transform: rotate(-45deg);
}

.arrowPoint:after {
    right: -2.7px;
    bottom: 3.9px;
    transform: rotate(45deg);
}
//Arrow Mixins END

//White Arrow
.arrowTxtWht {
    @include arrowTxt();
    color: var(--color-text-white);
}

.arrowWht {
    @include arrow();
    background: #ffffff;
}

.arrowWht:before,
.arrowWht:after {
    @include arrowPseudoLine();
    background: #fff;
}

.arrowTxtWht:hover {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
}
//White Arrow END

//Black Arrow
.arrowTxtBlk {
    @include arrowTxt();
    color: var(--color-text-black);
}

.arrowBlk {
    @include arrow();
    background: #000000;
}

.arrowBlk:before,
.arrowBlk:after {
    @include arrowPseudoLine();
    background: #000000;
}

.arrowTxtBlk:hover {
    text-decoration-line: underline;
    text-decoration-color: #000000;
}
//Black Arrow END

//White Arrow Big Gap
.arrowBigGap {
    @include arrow();
    margin-left: auto;
    background: #ffffff;
}

.arrowBigGap:before,
.arrowBigGap:after {
    @include arrowPseudoLine();
    background: #fff;
}
//White Arrow Big Gap END

//Background Image Properties
@mixin backgroundImageProperties {
    grid-column: full-start / full-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
//Background Image Properties END

