:root {
    //BACKGROUNDS
        --color-background-white: #FFFFFF;
        --color-background-black: #000000; 
        --color-background-grey: #F5F5F5; 
  
    //TEXT
        --color-text-white: #FFFFFF;
        --color-text-black: #000000;
        --color-text-main-yellow:#FFDC00;
        --color-text-footer-white: #FDFDFD;
    
    //BUTTONS
        --color-background-btnblack: #000000;
        --color-background-btnwhite: #FFFFFF;
        --color-text-btnwhite: #FFFFFF;
        --color-text-btnblack: #000000;

    }