.topImgContainer {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    &__createImg {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.imgContainerOne {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;

    &__beautifulImg {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.imgContainerTwo {
    grid-row: 6 / 7;
    grid-column: full-start / full-end;

    &__designedImg {
        display: block;
        height: 100%;
        width: 100%;
    }
}