//Headings
.headingXLargeWht {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.25rem;
    line-height: 4.8rem;
    letter-spacing: 4.17px;
    font-weight: 700;
    color: var(--color-text-white);
}

.headingLargeWht {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.25rem;
    line-height: 4rem;
    letter-spacing: 3.33px;
    font-weight: 700;
    color: var(--color-text-white);
}

.headingXLargeBlk {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.75rem;
    line-height: 4.8rem;
    letter-spacing: 4.17px;
    font-weight: 700;
    color: var(--color-text-black);
}

.headingBrand {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.25rem;
    line-height: 4.8rem;
    font-weight: 700;
    font-style: bold;
}

.headingMedium {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 700;
    color: var(--color-text-white);
}

.svgHeading {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 700;
    color: var(--color-text-black);
    margin-top: 4.8rem;
    margin-bottom: 1.6rem;
}

.headingSmall {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 17px;
    font-weight: 400;
    color: var(--color-text-white);
}

.headingSmallFaded {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 17px;
    font-weight: 400;
    color: var(--color-text-white);
    margin: 2.4rem 0.9rem 2.4rem 0;
    opacity: 0.75;
}

.headingSmallBold {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 15.5px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color-text-white);
    margin-bottom: 1.6rem;
}
//Headings END

//Summary Txt
.summaryCenter {
    width: 31rem;
    text-align: center;
}

.summaryWhite {
    @include summaryTxt();
    color: var(--color-text-white);
}

.summaryBlack {
    @include summaryTxt();
    color: var(--color-text-black);
}
//Summary Txt END