.indexContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(42rem, auto) minmax(27.1rem, auto) minmax(42rem, auto) minmax(27rem, auto) minmax(42rem, auto) repeat(4, minmax(37.5rem, auto)) minmax(96rem, auto) minmax(54rem, auto);
    grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem)[col-end]) [center-end] auto [full-end];
}

.topImgContainer {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    &__topImgTablet {
        display: none;
    }

    &__topImgMobile {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.topTxtContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    background: var(--color-background-black);
}

.imgContainerBeautiful {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    
    &__beautifulImgTablet {
        display: none;
    }

    &__beautifulImgMobile {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.imgContainerDesigned {
    grid-row: 6 / 7;
    grid-column: full-start / full-end;

    &__designedImgTablet {
        display: none;
    }

    &__designedImgMobile {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.viewStorieOneContainer {
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
}

.viewStorieTwoContainer {
    grid-row: 7 / 8;
    grid-column: full-start / full-end;
}

//IMG Read Story Section
.mountainsContainer {
    grid-row: 8 / 9;
    background-image: url("../assets/stories/mobile/mountains.jpg");
    @include backgroundImageProperties();
}

.cityScapeContainer {
    grid-row: 9 / 10;
    background-image: url("../assets/stories/mobile/cityscapes.jpg");
    @include backgroundImageProperties();
}

.daysVoyageContainer {
    grid-row: 10 / 11;
    background-image: url("../assets/stories/mobile/18-days-voyage.jpg");
    @include backgroundImageProperties();
}

.architecturalsContainer {
    grid-row: 11 / 12;
    background-image: url("../assets/stories/mobile/architecturals.jpg");
    @include backgroundImageProperties();
}
//IMG Read Story Section END

//SVG Section
.indexSvgRowContainer {
    grid-row: 12 / 13;
    grid-column: full-start / full-end;
}
//SVG Section END
