.pricingContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: 10vh minmax(auto, 29.4rem) minmax(30rem, auto) minmax(13.6rem, auto) repeat(3, minmax(40.7rem, auto)) minmax(95rem, auto) minmax(28.8rem, auto) minmax(54rem, auto);
    grid-template-columns: [full-start] auto 2.85rem [center-start] repeat(12, [col-start] minmax(min-content, 5rem)[col-end]) [center-end] 2.85rem auto [full-end];
}

//Toggle Button Container
.toggleContainer {
    grid-row: 4 / 5;
    grid-column: center-start / center-end;
}
//Toggle Button Container END

//Pricing Plans
.basicPricePlanContainer {
    grid-row: 5 / 6;
    grid-column: center-start / center-end;
    margin-bottom: 2.4rem;
    background-color: var(--color-background-grey);
}

.proPricePlanContainer {
    grid-row: 6 / 7;
    grid-column: center-start / center-end;
    position: relative;
    background-color: var(--color-background-black);
}

.businessPricePlanContainer {
    grid-row: 7 / 8;
    grid-column: center-start / center-end;
    margin: 2.4rem 0 0 0;
    background-color: var(--color-background-grey);
}

.pricePlanWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.headingPriceWrapper {
    display: block;
    margin: 5.6rem 0rem .2rem 0rem;
}

.priceAmountWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0rem 4rem 0rem;
}
//Pricing Plans END

//The Features
.theFeaturesContainer {
    grid-row: 8 / 9;
    grid-column: center-start / center-end;
    margin-top: 6.4rem;
}

.featuresWrapperLrg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 1.6rem 0 2.4rem 0;
}

.featuresWrapperSml {
    display: flex;
    flex-direction: column;
    width: 33%;
}
//The Features END

.pricingBetaContainer {
    position: relative;
    grid-row: 9 / 10;
    background-image: url(../../assets/shared/mobile/bg-beta.jpg);
    @include backgroundImageProperties();
}