//Disables Desktop Footer HTML
@media screen and (max-width: 1366px) {
    //Index Footer
    .footerContainerDesktop {
        display: none;
    }

    //Stories Footer
    .storiesFooterContainerDesktop {
        display: none;
    }

    //Features Footer
    .featuresFooterContainerDesktop {
        display: none;
    }
}

//Tablet
@media screen and (min-width: 768px) {
    //Index Footer Section
    .footerContainer {
        grid-row: 8 / 9;
        @include footerContainerPropertiesTablet();
    }
    //Index Footer Section END

    //Stories Footer Section
    .storiesFooterContainer {
        grid-row: 10 / 11;
        @include footerContainerPropertiesTablet();
    }
    //Stories Footer Section END

    //Features Footer Section
    .featuresFooterContainer {
        grid-row: 5 / 6;
        @include footerContainerPropertiesTablet();
    }
    //Features Footer Section END

    //Pricing Footer Section
    .pricingFooterContainer {
        grid-row: 9 / 10;
        @include footerContainerPropertiesTablet();
    }
    //Pricing Footer Section END

    //Shared Footer Properties
    .footerWrapperSml {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 50%;
    }

    .footerWrapperBig {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        margin-left: 3.9rem;
        margin: 0 0 6.4rem 3.9rem;
    }

    .iconContainer {
        order: 3;
        margin: 7.2rem 0 0 0;
    }

    ul.summaryCenter { //Footer Links Container
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .footerLinksContainer__txt {
        margin-right: 2.6rem;
        margin-top: 0;
    }
    //Shared Footer Properties END
}

//Desktop
@media screen and (min-width: 1367px) {
    //Shared Footer Properties
    .footerWrapperBig {
        width: inherit;
        margin: 0 0 6.4rem 17.1rem;
    }

    .footerLinksContainer {
        width: 33%;
        margin: 2.5rem 0 0 10.9rem;

        &__txt {
            margin-bottom: 2.7rem;
        }
    }

    .footerCntr {
        margin: 5.6rem 0 0 0;
    }

    .iconContainer {
        margin: 10rem 0 0 0;
    }

    ul.summaryCenter { //Footer Links Container
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    //Shared Footer Properties END

    //Index Footer Section
    .footerContainer {
        display: none;
    }
    
    .footerContainerDesktop {
        grid-row: 7 / 8;
        @include footerContainerPropertiesTablet();
    }
    //Index Footer Section END

    //Stories Footer Section
    .storiesFooterContainer {
        display: none;
    }

    .storiesFooterContainerDesktop {
        grid-row: 7 / 8;
        @include footerContainerPropertiesTablet();
    }
    //Stories Footer Section END

    //Features Footer Section
    .featuresFooterContainer {
        display: none;
    }

    .featuresFooterContainerDesktop {
        grid-row: 5 / 6;
        @include footerContainerPropertiesTablet();
    }
    //Features Footer Section END

}
