//Tablet
@media screen and (max-width: 768px) {
    .topImgContainer {

        &__topImgMobile {
            display: block;
            height: 100%;
            width: 100%;      
        }

        &__topImgTablet {
            display: none;
        }

        &__topImgDesktop {
            display: none;
        }
    }

    .imgContainerBeautiful {

        &__beautifulImgMobile {
            display: block;
            height: 100%;
            width: 100%;
        }
        
        &__beautifulImgTablet {
            display: none;
        }

        &__beautifulImgDesktop {
            display: none;
        }
    }

    .imgContainerDesigned {

        &__designedImgMobile {
            display: block;
            height: 100%;
            width: 100%;
        }
    
        &__designedImgTablet {
            display: none;
        }
    
        &__designedImgDesktop {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .indexContainer {
        grid-template-rows: 10vh minmax(65rem, auto) repeat(2, minmax(60rem, auto)) repeat(2, minmax(50rem, auto)) minmax(101.5rem, auto) minmax(28.4rem, auto);
        grid-template-columns: [full-start] minmax(27.3rem, auto) repeat(8, [col-start] minmax(min-content, 5rem)[col-end]) minmax(27.3rem, auto) [full-end];
    }

    //Typography
    .headingXLargeWht {
        font-size: 4rem;
    }

    .headingXLargeBlk {
        font-size: 4rem;
    }
    //Typography END

    //Mixins
    .arrowTxtWht {
        line-height: 0;
    }

    .summaryWhite {
        margin-bottom: 2.4rem;
    }

    .summaryBlack {
        margin-bottom: 2.4rem;
    }
    //Mixins END

    //Utilities
    .rowSml {
        margin: 2rem 0 0 0;
    }

    .contentWrapperSml {
        margin: 100% 6.2rem 4rem 3.3rem;
    }
    //Utilities END

    //Components
    .rainbowRectangleSml {
        @include rainbowRectangleTablet();
    }
    //Components END

    //Top Img Top Txt Containers
    .topImgContainer {
        grid-column: 10 / full-end;

        &__topImgMobile {
            display: none;
        }

        &__topImgTablet {
            display: block;
            height: 100%;
            width: 100%;
        }

        &__topImgDesktop {
            display: none;
        }
    }

    .topTxtContainer {
        grid-row: 2 / 3;
        grid-column: full-start / 10;
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        margin: 17.3rem 5.4rem 17.3rem 5.4rem;
    }
    //Top Img Top Txt Containers END

    //Beautiful Img Storie One Container
    .imgContainerBeautiful {
        grid-row: 3 / 4;
        grid-column: full-start / col-start;

        &__beautifulImgMobile {
            display: none;
        }
        
        &__beautifulImgTablet {
            display: block;
            height: 100%;
            width: 100%;
        }

        &__beautifulImgDesktop {
            display: none;
        }
    }

    .viewStorieOneContainer {
        grid-row: 3 / 4;
        grid-column: col-start / full-end;
    }
    //Beautiful Img Storie One Container END

    //Designed Img Storie Two Container 
    .imgContainerDesigned {
        grid-row: 4 / 5;
        grid-column: 10 / full-end;

        &__designedImgMobile {
            display: none;
        }
    
        &__designedImgTablet {
            display: block;
            height: 100%;
            width: 100%;
        }
    
        &__designedImgDesktop {
            display: none;
        }
    }
    
    .viewStorieTwoContainer {
        grid-row: 4 / 5;
        grid-column: full-start / 10;
    }

    //IMG Read Story Section
    .mountainsContainer {
        grid-row: 5 / 6;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/mountains.jpg);
        @include backgroundImagePropertiesTablet();
    }

    .cityScapeContainer {
        grid-row: 5 / 6;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/cityscapes.jpg);
        @include backgroundImagePropertiesTablet();
    }

    .daysVoyageContainer {
        grid-row: 6 / 7;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/18-days-voyage.jpg);
        @include backgroundImagePropertiesTablet();
    }

    .architecturalsContainer {
        grid-row: 6 / 7;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/architecturals.jpg);
        @include backgroundImagePropertiesTablet();
    }
    //IMG Read Story Section END

    //SVG Container
    .indexSvgRowContainer {
        grid-row: 7 / 8;
        grid-column: full-start / full-end;
    }
    //SVG Container END
}

//Desktop
@media screen and (min-width: 1367px) {
    .indexContainer {
        grid-template-rows: 10vh minmax(auto, 65rem) repeat(2, minmax(auto, 60rem)) minmax(50rem, auto) minmax(47.6rem, auto) minmax(25rem, auto);
        grid-template-columns:[full-start]  repeat(28, [col-start] 1fr [col-end])  [full-end];
    }

    .headerContainer {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
    }

    //Top Img Top Txt Containers
    .topImgContainer {
        grid-column: 13 / full-end !important;

        &__topImgMobile {
            display: none;
        }

        &__topImgTablet {
            display: none;
        }

        &__topImgDesktop {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    .topTxtContainer {
        grid-column: full-start / 13 !important;
    }
    //Top Img Top Txt Containers END

    //Beautiful Img Storie One Container
    .imgContainerBeautiful {
        grid-row: 3 / 4;
        grid-column: full-start / 17;
        
        &__beautifulImgMobile {
            display: none;
        }

        &__beautifulImgTablet {
            display: none;
        }

        &__beautifulImgDesktop {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    .viewStorieOneContainer {
        grid-row: 3 / 4;
        grid-column: 18 / full-end;
    }
    //Beautiful Img Storie One Container END

    //Designed Img Storie Two Container 
    .imgContainerDesigned {
        grid-row: 4 / 5;
        grid-column: 13 / full-end;

        &__designedImgMobile {
            display: none;
        }

        &__designedImgTablet {
            display: none;
        }

        &__designedImgDesktop {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    
    .viewStorieTwoContainer {
        grid-row: 4 / 5;
        grid-column: full-start / 13;
    }
    //Designed Img Storie Two Container END

    //IMG Read Story Section
    .mountainsContainer {
        grid-column: full-start / 8;
        background-image: url(../../assets/stories/desktop/mountains.jpg);
        @include backgroundImagePropertiesTablet();
    }

    .cityScapeContainer {
        grid-column: 8 / 15;
        background-image: url(../../assets/stories/desktop/cityscapes.jpg);
        @include backgroundImagePropertiesTablet();
    }

    .daysVoyageContainer {
        grid-column: 15 / 22;
        grid-row: 5 / 6;
        background-image: url(../../assets/stories/desktop/18-days-voyage.jpg);
        @include backgroundImagePropertiesTablet();
    }

    .architecturalsContainer {
        grid-column: 22 / full-end;
        grid-row: 5 / 6;
        background-image: url(../../assets/stories/desktop/architecturals.jpg);
        @include backgroundImagePropertiesTablet();
    }
    //IMG Read Story Section END

    .indexSvgRowContainer {
        grid-row: 6 / 7;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: flex-start;

    }

    .photoUploadContainer,
    .embedContainer,
    .responsiveContainer {
        max-height: 37rem;
    }

    .desktopMargin {
        margin-top: 8.25rem;
    }

   .summaryCenter {
       text-align: center !important;
   }

    .contentWrapper {
        margin: 17.3rem 12rem 17.3rem 11.2rem;
    }

}
