    //Stories Page START
@media screen and (min-width: 768px) {
    .storiesContainer {
        grid-template-rows: 10vh minmax(65rem, auto) repeat(7, minmax(50rem, auto)) minmax(28.4rem, auto);
        // grid-template-columns: [full-start] 1fr repeat(20, [col-start] minmax(min-content, 5rem)[col-end]) 1fr [full-end];
        grid-template-columns: [full-start] minmax(3.9rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3.9rem, 1fr) [full-end]; //1100-1200px 1140px/8(columns) = 142px 140px / 10px = 14rem || min-max min-content creates responsive 
    }

    .topTxtContainerFull {
        grid-row: 2 / 3;
        grid-column: full-start / full-end;
        @include backgroundImageProperties();
        background-image: url(../../assets/stories/tablet/moon-of-appalacia.jpg);
    }

    .topImgContainerFull {

        &__topImgMobile {
            display: none;
        }

        &__topImgTablet {
            display: block;
            height: 100%;
            width: 100%;
        }

        &__topImgDesktop {
            display: none;
        }
    }

    .contentWrapperTablet {
        display: flex;
        flex-direction: column;
        margin: 12.2rem 34.2rem 12.2rem 3.9rem;
    }

    .storiesMountainsContainer {
        grid-row: 3 / 4;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/mountains.jpg);
    }

    .storiesCityScapeContainer {
        grid-row: 3 / 4;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/cityscapes.jpg);
    }

    .storiesDaysVoyageContainer {
        grid-row: 4 / 5;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/18-days-voyage.jpg);
    }
    
    .storiesArchitecturalsContainer {
        grid-row: 4 / 5;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/architecturals.jpg);
    }
    
    .storiesWorldTourContainer {
        grid-row: 5 / 6;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/world-tour.jpg);
    }
    
    .storiesUnforseenContainer {
        grid-row: 5 / 6;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/unforeseen-corners.jpg);
    }
    
    .storiesKingAfricaContainer {
        grid-row: 5 / 6;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/king-on-africa.jpg);
    }
    
    .storiesTripNowhereContainer {
        grid-row: 5 / 6;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/trip-to-nowhere.jpg);
    }
    
    .storiesRageSeaContainer {
        grid-row: 6 / 7;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/rage-of-the-sea.jpg);
    }
    
    .storiesRunningFreeContainer {
        grid-row: 6 / 7;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/running-free.jpg);
    }
    
    .storiesBehindWavesContainer {
        grid-row: 7 / 8;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/behind-the-waves.jpg);
    }
    
    .storiesCalmWatersContainer {
        grid-row: 7 / 8;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/calm-waters.jpg);
    }
    
    .storiesMilkyWayContainer {
        grid-row: 8 / 9;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/milky-way.jpg);
    }
    
    .storiesDarkForestContainer {
        grid-row: 8 / 9;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/dark-forest.jpg);
    }
    
    .storiesSomwarpetsContainer {
        grid-row: 9 / 10;
        grid-column: full-start / 6;
        background-image: url(../../assets/stories/desktop/somwarpet.jpg);
    }
    
    .storiesLandOfContainer {
        grid-row: 9 / 10;
        grid-column: 6 / full-end;
        background-image: url(../../assets/stories/desktop/land-of-dreams.jpg);
    }
}

//Desktop
@media screen and (min-width: 1367px) {
    .storiesContainer {
        grid-template-rows: 10vh minmax(65rem, auto) repeat(4, minmax(50rem, auto)) minmax(25rem, auto);
        grid-template-columns: [full-start] repeat(4, [col-start] minmax(36rem, auto) [col-end]) [full-end]; //1100-1200px 1140px/8(columns) = 142px 140px / 10px = 14rem || min-max min-content creates responsive 
    }

    .topTxtContainerFull {
        grid-column: full-start / 2 !important;
        background-image: none;
        background: transparent;
        margin-left: 11.2rem;
    }

    .topImgContainerFull {
        
        &__topImgMobile {
            display: none;
        }

        &__topImgTablet {
            display: none;
        }

        &__topImgDesktop {
            display: block;
            height: 100%;
            width: 100%;
        }
    }


    .contentWrapperTablet {
        display: flex;
        flex-direction: column;
        margin: 12.2rem 34.2rem 12.2rem 3.9rem;
    }

    .storiesMountainsContainer {
        grid-row: 3 / 4;
        grid-column: full-start / 1;
        background-image: url(../../assets/stories/desktop/mountains.jpg);
    }

    .storiesCityScapeContainer {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        background-image: url(../../assets/stories/desktop/cityscapes.jpg);
    }

    .storiesDaysVoyageContainer {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        background-image: url(../../assets/stories/desktop/18-days-voyage.jpg);
    }
    
    .storiesArchitecturalsContainer {
        grid-row: 3 / 4;
        grid-column: 4 / -1;
        background-image: url(../../assets/stories/desktop/architecturals.jpg);
    }
    
    .storiesWorldTourContainer {
        grid-row: 4 / 5;
        grid-column: full-start / 1;
        background-image: url(../../assets/stories/desktop/world-tour.jpg);
    }
    
    .storiesUnforseenContainer {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        background-image: url(../../assets/stories/desktop/unforeseen-corners.jpg);
    }
    
    .storiesKingAfricaContainer {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
        background-image: url(../../assets/stories/desktop/king-on-africa.jpg);
    }
    
    .storiesTripNowhereContainer {
        grid-row: 4 / 5;
        grid-column: 4 / -1;
        background-image: url(../../assets/stories/desktop/trip-to-nowhere.jpg);
    }
    
    .storiesRageSeaContainer {
        grid-row: 5 / 6;
        grid-column: full-start / 1;
        background-image: url(../../assets/stories/desktop/rage-of-the-sea.jpg);
    }
    
    .storiesRunningFreeContainer {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        background-image: url(../../assets/stories/desktop/running-free.jpg);
    }
    
    .storiesBehindWavesContainer {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
        background-image: url(../../assets/stories/desktop/behind-the-waves.jpg);
    }
    
    .storiesCalmWatersContainer {
        grid-row: 5 / 6;
        grid-column: 4 / -1;
        background-image: url(../../assets/stories/desktop/calm-waters.jpg);
    }
    
    .storiesMilkyWayContainer {
        grid-row: 6 / 7;
        grid-column: full-start / 1;
        background-image: url(../../assets/stories/desktop/milky-way.jpg);
    }
    
    .storiesDarkForestContainer {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        background-image: url(../../assets/stories/desktop/dark-forest.jpg);
    }
    
    .storiesSomwarpetsContainer {
        grid-row: 6 / 7;
        grid-column: 3 / 4;
        background-image: url(../../assets/stories/desktop/somwarpet.jpg);
    }
    
    .storiesLandOfContainer {
        grid-row: 6 / 7;
        grid-column: 4 / -1;
        background-image: url(../../assets/stories/desktop/land-of-dreams.jpg);
    }

}